h3 {
	font: bold 2.5em "Arial", sans-serif !important;
}

.full-width-img {
	width: 100%;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
}

.dark-content {
	text-align: center;
	color: #9d9d9d;
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #2d2d2d;
}

.light-content {
	text-align: center;
	color: #2d2d2d;
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #9d9d9d;
}

.someText {
	font: bold 2em "Arial", sans-serif;
}

#id {
	margin-left: 75%;
}

#navbarText {
	font: bold 1em "Arial", sans-serif;
}

#user {
	font: bold 2.5em "Arial", sans-serif;
}
