
h3 {
	font: bold 2.5em "Arial", sans-serif !important;
}

.full-width-img {
	width: 100%;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
}

.dark-content {
	height: 800px;
	text-align: center;
	color: #9d9d9d;
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #2d2d2d;
}

.light-content {
	height: 800px;
	text-align: center;
	color: #2d2d2d;
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #9d9d9d;
}

.someText {
	font: bold 2em "Arial", sans-serif;
}

.vertical-align {
    display: block;
    align-items: center;
}

.myContentContainer {
	height: 100%;
}

.myContent {
	margin-top: 50%;

}

.infoWindowImage {
	max-height: 400px;
	width: auto;
}

#map {
	height: 650px;
	margin: 5%;
}

#navbarText {
	font: bold 1em "Arial", sans-serif;
}

#user {
	font: bold 2.5em "Arial", sans-serif;
}
